<%= flash[:notice] %>

<h1>太陽木呆呆~</h1>


<%= link_to '新增選手' , new_player_path %>


<table>
    <tr>
        <td>投票給他</td>
        <td>Name</td>
        <td>Age</td>

        <td>Vote</td>
        <td>Update</td>
        <td>Delete</td>

    </tr>

    <% @players.each do |player| %>

    <tr>
        <td><%= link_to 'vote' , vote_player_path(player.id) , method: 'post' %></td>
        <td><%= link_to player.name , player_path(player.id) %></td>
        <td><%= player.age %></td>

        <td><%= player.voterecords_count %></td>
        <td><%= link_to 'update' ,   edit_player_path(player.id) %></td>
        <td><%= link_to 'delete' ,   player_path(player.id) , method: 'delete' , data: {confirm:'確定刪除嗎?'} %></td>

    </tr>

    <% end %>
    
</table>